MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/backend_ledger?retryWrites=true&w=majority
JWT_SECRET=your_super_secret_jwt_key_here
EMAIL_USER=your_gmail_address@gmail.com
CLIENT_ID=your_oauth2_client_id
CLIENT_SECRET=your_oauth2_client_secret
REFRESH_TOKEN=your_oauth2_refresh_token
